.App {
  text-align: center;
}

.mainDiv {
  padding:20px;
}

.firstCol {
  background-color: firebrick;
  float: left;
  padding: 30px;
  margin: 40px;
  margin-left: 70px;
  border-radius: 30px;
}

.secondCol {
  background-color:#006bb3;
  float: right;
  padding: 30px;
  margin: 40px;
  margin-right: 70px;
  border-radius: 30px;
  text-align: left;
  color: white;
}

/* text */

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Header */

.headerBg {
  padding: 20px;
  background-color: whitesmoke;
}

.headerLogo {
  max-height: 10%;
  width: auto;
}

/* Satellite */

.satellite-image {
  border-radius: 30px 30px 30px 30px;
  max-height: 400px;
  width: auto;
  margin-top: 30px;
}
