.App {
  text-align: center;
  background-color: lightslategray;
}

/* Header */

.headerBg {
  padding: 20px;
  background-color: white;
}

.headerLogo {
  max-height: 10%;
  width: auto;
}

/* Satellite */

.satellite-image {
  border-radius: 30px 30px 30px 30px;
  max-height: 400px;
  width: auto;
  margin-top: 30px;
}
